{
    "proseWrap": "always",
    "semi": false,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-jsdoc"],
    "experimentalTernaries": true,
    "experimentalOperatorPosition": "start",
    "jsdocCapitalizeDescription": false,
    "jsdocPrintWidth": 60,
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        { "files": "block-lang/**/*", "options": { "singleAttributePerLine": true } },
        { "files": "cv3/**/*", "options": { "printWidth": 80 } },
        { "files": "five-point-conic.ts", "options": { "printWidth": 40 } },
        { "files": "hott/**/*", "options": { "printWidth": 110 } },
        { "files": "lambda-in-js.js", "options": { "arrowParens": "avoid", "semi": false } }
    ]
}
